# Assignment 3

* <b>Do not change the structure</b> of the notebook, only fill in the parts where your code needs to be filled in.

---

* Read carefully if the assignment asks for a Pandas **dataframe** or a Pandas **series**.

--- 

* For your notebook, <b>use as filename</b> `assignment03_vunetID.ipynb`, where `vunetID` is your three letter, three digit VU ID.

In [325]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

### Datetime manipulations

The Data Wrangling course started on Tuesday 11 January 2022 at 1.30 pm and will end on Friday 4 February 2022 at 5.00 pm. Calculate the duration of the course in minutes. Assign the value to the variable *duration*.

In [326]:
from datetime import datetime
from dateutil.parser import parse

# YOUR CODE HERE
start = parse('Jan 11, 2022 1:30PM')
end = parse('Feb 4, 2022 5PM')

duration = end - start

# YOUR CODE ENDS HERE

In [327]:
print(duration)

24 days, 3:30:00

Below you will find the scheduled days of the course Data Wrangling. The values in the time series denote the number of contact hours spend on each lecture. Create a time series that calculates the cumulative sum of all the hours that you have spent on the course. Assign the cumulative sum upto 31 January 2022 to the variable *cum_hours*.

In [328]:
from datetime import datetime
from pandas.tseries.offsets import *


dates = [datetime(2022, 1, 11), datetime(2022, 1, 13), datetime(2022, 1, 14),
         datetime(2022, 1, 18), datetime(2022, 1, 20), datetime(2022, 1, 21),
         datetime(2022, 1, 25), datetime(2022, 1, 27), datetime(2022, 1, 28),
         datetime(2022, 2,  1), datetime(2022, 2,  2), datetime(2022, 2,  3),
         datetime(2022, 2,  4)]
ts = pd.Series([2, 2, 1, 2, 2, 1, 2, 2, 1, 3, 3, 3, 3], index = dates)

# YOUR CODE HERE
cum_hours = sum(ts[:datetime(2022,1,31)])
# YOUR CODE ENDS HERE

Suppose that you want to become a world-class expert in data wrangling. So, you decide to spent 2 hours learning data wrangling every Tuesday in 2022. As you have a lot of free time every first Wednesday of the month, you spent 3 hours learning data wrangling those days in 2022. Calculate how many hours you will spend learning in 2022. Assign that value to the variable *study_hours*.

In [329]:
from datetime import datetime

# YOUR CODE HERE
tuesdays = pd.date_range('2022-1-1', '2022-12-31', freq='W-TUE')
ts_t = pd.Series([2 for i in range(0, len(tuesdays))], index=tuesdays, name='prac_tue')

wednesday_firsts = pd.date_range('2022-1-1', '2022-12-31', freq='WOM-1WED')
ts_w = pd.Series([3 for i in range(0, len(wednesday_firsts))], index=wednesday_firsts, name='pract_wed')

pract_days = pd.concat([ts_t, ts_w]).sort_index()

study_hours = sum(pract_days)
# YOUR CODE ENDS HERE

In [330]:
print(study_hours)

140

Generate all business days in 2022 that start at the first weekday of the month. Calculate how many of these days fall on the second day of the month. Assign that value to the variable *second_days*.

In [331]:
from datetime import datetime

# YOUR CODE HERE
b_days = pd.date_range('2022-1-1', '2022-12-31', freq='BMS')

second_days = len(b_days[b_days.day == 2])
# YOUR CODE ENDS HERE

In [332]:
print(second_days)

1

The first blood moon in 2022 will fall on 16 May 2022 at 05.29 am in Amsterdam. Calculate what time it will be in Sydney (Australia) at that exact moment. Assign the answer to *bloodmoon*.

In [333]:
from datetime import datetime
import pytz

# YOUR CODE HERE
bloodmoon = pd.Timestamp('2022-5-16 05:29', tz = 'Europe/Amsterdam').tz_convert('Australia/Sydney')

# YOUR CODE ENDS HERE

In [334]:
print(bloodmoon)

2022-05-16 13:29:00+10:00

### Sales volumes

The file *volume.csv* contains sales volumes of different companies. Read the file, and calculate the mean sales volumes of each company in the year 2010. Assign the series to the variable *volumes2010*.

In [335]:
file = 'volume.csv'

# YOUR CODE HERE
sales = pd.read_csv(file, index_col=0)

sales.index = pd.to_datetime(sales.index)

volumes2010 = sales[sales.index.year == 2010].mean()

# YOUR CODE ENDS HERE

In [336]:
print(volumes2010)

AA      3.113912e+07
AAPL    2.140376e+07
GE      7.223856e+07
IBM     6.422816e+06
JNJ     1.214678e+07
MSFT    6.306716e+07
PEP     6.962504e+06
SPX     4.566245e+09
XOM     2.643224e+07
dtype: float64

On which day did the sales volume of Apple (*AAPL*) overtake the sales volume of Microsoft (*MSFT*) for the first time? Calculate the value and assign the timestamp to the variable *changeover*.

In [337]:
file = 'volume.csv'

# YOUR CODE HERE
changeover = ((sales.loc[sales['AAPL'] > sales['MSFT']]).first('1D').index).format()[0]
# YOUR CODE ENDS HERE

In [338]:
print(changeover)

1992-08-06

Format the date that you have found in a nicer way corresponding to the style dd/mm/yy. Thus, the day (dd), month (mm), and the year (yy) are formatted in 2 digits, separated by slashes. Assign the string to the variable *nicedate*.

In [339]:
# YOUR CODE HERE

#I assumed that's how you wanted it above, so here it is again
nicedate = changeover

# YOUR CODE ENDS HERE

In [340]:
print(nicedate)

1992-08-06

Apple has to report every end of the year (31 December) what its current sales volume is (not cumulative!). Create a time series for every year with the sales volume listed for Apple (AAPL) on 31 December. If the data does not contain a record for this date, then take the last known value that this known prior to that date. Assign the time series to the variable *apple_report*.

In [345]:
sales.index[3]

Timestamp('1990-02-06 00:00:00')

In [365]:
# YOUR CODE HERE
years_end = pd.date_range(str(min(sales.index.year)), str(max(sales.index.year)), freq='A-DEC')
apple_report = pd.Series(sales['AAPL'], index=years_end)

for i in apple_report[apple_report.isnull() == True].index:
	aapl_last = sales['AAPL'].iloc[sales.index.get_loc(i, method='ffill')]
	apple_report[str(i)] = aapl_last

# YOUR CODE ENDS HERE

In [366]:
print(apple_report)

1990-12-31     1593200.0
1991-12-31     4802000.0
1992-12-31     3302000.0
1993-12-31     5765200.0
1994-12-31     2616400.0
                 ...
2006-12-31    38443900.0
2007-12-31    19261900.0
2008-12-31    21697900.0
2009-12-31    12586100.0
2010-12-31     6911000.0
Freq: A-DEC, Name: AAPL, Length: 21, dtype: float64

The volumes of Apple are highly fluctuating over time. You can clearly see that when you make a plot. It would be better to smooth out the sales volume by taking a moving average with a period of 200 days. Calculate the moving average of the sales volume and assign the series to the variable *apple_smooth*. Create a plot with the original time series and the smooth version of the time series.

In [ ]:
# YOUR CODE HERE

# YOUR CODE ENDS HERE

In [ ]:
print(apple_smooth)