# Assignment 1

* <b>Do not change the structure</b> of the notebook, only fill in the parts where your code needs to be filled in.

--- 

* For your notebook, <b>use as filename</b> `assignment01_vunetID.ipynb`, where `vunetID` is your three letter, three digit VU ID.

In [1]:
# read neccessary libraries
import numpy as np
import pandas as pd
pd.options.display.max_rows = 20
np.set_printoptions(precision = 4, suppress = True)

### Manufacturing processes
The file listed below contains data on a manufacturing process. Certain configurations of biological material and manufacturing processes result in a specific yield. Compute the average yield over all records and assign that value to the variable *avg_yield*.

In [2]:
file = 'manufacturing.csv'

# YOUR CODE HERE
df = pd.read_csv(file)
avg_yield = df['Yield'].mean()


# YOUR CODE ENDS HERE

In [3]:
df

,Yield,BiologicalMaterial01,BiologicalMaterial02,BiologicalMaterial03,BiologicalMaterial04,BiologicalMaterial05,BiologicalMaterial06,BiologicalMaterial07,BiologicalMaterial08,BiologicalMaterial09,...,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41,ManufacturingProcess42,ManufacturingProcess43,ManufacturingProcess44,ManufacturingProcess45
0,38.00,6.25,49.58,56.97,12.74,19.51,43.73,100.0,16.66,11.44,...,0.019,0.5,3,7.2,NaN,NaN,11.6,3.0,1.8,2.4
1,42.44,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.019,2.0,2,7.2,0.1,0.15,11.1,0.9,1.9,2.2
2,42.03,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,0.7,2,7.2,0.0,0.00,12.0,1.0,1.8,2.3
3,41.42,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,1.2,2,7.2,0.0,0.00,10.6,1.1,1.8,2.1
4,42.49,7.47,63.33,72.25,14.02,17.91,54.66,100.0,18.22,12.80,...,0.017,0.2,2,7.3,0.0,0.00,11.0,1.1,1.7,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,39.66,6.71,56.32,66.19,12.35,20.02,50.26,100.0,17.54,12.50,...,NaN,2.3,0,0.0,0.0,0.00,0.0,0.6,0.0,0.0
172,39.68,6.87,56.74,66.61,12.55,20.18,50.80,100.0,17.48,12.41,...,NaN,1.0,0,0.0,0.0,0.00,0.0,0.6,0.0,0.0
173,42.23,7.50,58.41,68.30,13.33,20.81,52.96,100.0,17.23,12.04,...,NaN,1.3,0,0.0,0.0,0.00,0.0,0.6,0.0,0.0
174,38.48,7.53,58.36,69.25,14.35,20.57,51.31,100.0,17.87,12.77,...,NaN,2.3,0,0.0,0.0,0.00,0.0,0.5,0.0,0.0
175,39.49,7.53,58.36,69.25,14.35,20.57,51.31,100.0,17.87,12.77,...,NaN,0.9,0,0.0,0.0,0.00,0.0,0.6,0.0,0.0

In [4]:
print(avg_yield)

40.17653409090909

The file contains some missing data. Calculate the number of records that are not complete. Assign that number to the variable *num_missing*.

In [5]:
# YOUR CODE HERE
num_missing = df.isnull().sum().sum()

# YOUR CODE ENDS HERE

In [6]:
print(num_missing)

106

The column **ManufacturingProcess03** contains some missing values. Replace the missing value with the number 1.0 and calculate the mean of this column. Assign the result to the variable *avg_mp3*.

In [7]:
# YOUR CODE HERE
df['ManufacturingProcess03'] = df['ManufacturingProcess03'].fillna(1)

print(df['ManufacturingProcess03'].isnull().sum())

avg_mp3 = df['ManufacturingProcess03'].mean()

# YOUR CODE ENDS HERE

0

In [8]:
print(avg_mp3)

1.4935795454545455

### Population of Amsterdam in 2021
The URL listed below contains tables on the demographics of Amsterdam. Use pandas commands to assign the **population estimate of 2021-01-01** in **Amsterdam** to the variable *population*.

In [26]:
import lxml
url = 'https://www.citypopulation.de/en/netherlands/admin/noord_holland/0363__amsterdam/'

# YOUR CODE HERE
tables = pd.read_html(url,'Amsterdam',)[0]
population = int(tables.loc[tables['Name'] == 'Amsterdam']['PopulationEstimate2021-01-01'])
# YOUR CODE ENDS HERE

/var/folders/5h/tc1b2dhx483_cx6pj09_pyc80000gn/T/ipykernel_4145/117452006.py:5: FutureWarning: Starting with pandas version 2.0 all arguments of read_html except for the argument 'io' will be keyword-only
  tables = pd.read_html(url,'Amsterdam',)[0]

In [23]:
tables

,Name,Status,PopulationCensus2001-01-01,PopulationEstimate2008-01-01,PopulationEstimate2011-01-01,PopulationEstimate2015-01-01,PopulationEstimate2021-01-01,Unnamed: 7
0,Amsterdam,Municipality,734533,747093,779808,821752,873338,NaN
1,Nederland [Netherlands],Country,15985538,16405399,16655799,16900726,17475415,NaN

In [27]:
print(population)

873338

Which fraction of the total population is that? Extract the necessary information from the same table, and assign that value to the variable *fraction*.

In [30]:
# YOUR CODE HERE
population_tot = int(tables.loc[tables['Name'] == 'Nederland [Netherlands]']['PopulationEstimate2021-01-01'])

fraction = population / population_tot * 100

# YOUR CODE ENDS HERE

In [31]:
print(fraction)

4.997523663958767

### Food database
The file listed below contains a database on food products. Read the file and count the number of unique categories in the variable *group*. Assign that number to the variable *num_categories*.

In [ ]:
import json
file = 'database.json'

# YOUR CODE HERE

# YOUR CODE ENDS HERE

In [ ]:
print(num_categories)

Count the number of products that are mentioned in the **Baby Foods** group. Assign that number to the variable *baby_total*.

In [ ]:
# YOUR CODE HERE

# YOUR CODE ENDS HERE

In [ ]:
print(baby_total)

### Bus database
The following XML file contains records on the LI Bus service. Read in the XML and count the number of records present in the file. Assign that number to the variable *num_records*.

In [ ]:
from lxml import objectify
file = 'libus.xml'

# YOUR CODE HERE

# YOUR CODE ENDS HERE

In [ ]:
print(num_records)